<h1 style="margin-left: 45%;">Cards data</h1>
<div class="container">
  <div class="row" *ngIf="clicked = false">
    <mat-card class="col-3" *ngFor="let task of responsedata" style="min-height: 175px;position:relative; margin-bottom: 30px; margin-right: 20px; background-color: #E6E6FA; align-content:center; ">
      <mat-card-header>
        <mat-card-title>
          title: <br />
          {{task.title}}
        </mat-card-title>
      </mat-card-header>
      <mat-card-actions style="left:15px;bottom:15px;position:absolute;">
        <button mat-raised-button style="background-color: #FFA07A;" ng-click="loadDetails(task.id)">See Details</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>


<div class="card-detail" *ngIf="clicked = true">
  <mat-card class="col-3" *ngFor="let task of responsedata" style="min-height: 175px;position:relative; margin-bottom: 30px; margin-right: 20px; background-color: #E6E6FA; align-content:center; ">
    <mat-card-header>
      <mat-card-title>
        title: <br />
        {{task.title}}
      </mat-card-title>
    </mat-card-header>
    <mat-card-actions style="left:15px;bottom:15px;position:absolute;">
      <button mat-raised-button style="background-color: #FFA07A;" >See Details</button>
    </mat-card-actions>
  </mat-card>

</div>
